.footer {
  background-color: #008ECC; 
  color: white; 
  padding: 30px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h3 {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li::before {
  content: "•"; 
  margin-right: 10px; 
  color: white; 
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom hr {
  border: none;
  height: 1px;
  background-color: white;
  margin: 20px auto;
  width: 100%; 
  max-width: 1000px;
}

.footer-bottom p {
  margin: 10px 0;
}
.footer p img {
  width: 20px; 
  height: 20px;
  margin-right: 10px; 
  vertical-align: middle; 
}
.footer p a img {
  width: 125px; 
  height: auto; 
  margin: 0 10px 0 0; 
}
.title-wrapper {
  position: relative; 
  display: inline-block; 
}
.title-underline {
  position: absolute;
  left: 0; 
  bottom: -2px; 
  height: 2px;
  background-color: white;
  width: 100%; 
}   