/* Шапка сайта */
.header {
    background-color: #ffffff;
    color: #008ECC;
    padding: 15px 25px;
}


.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-block {
    display: flex; 
    align-items: center;
    gap: 15px;
     
}

.header-inner .logo {
    font-size: 1.8rem;
    font-weight: bold;
}


.header-inner .search input {
    width: 250px;
    padding: 10px 15px;
    border-radius: 8px;
    
    
    background-color: #F3F9FB; 
    border: 1px solid #F3F9FB; 
    color: #333; 
    
    outline: none; 
    transition: border-color 0.2s ease; 
}


.header .user-links a,
.header .cart a {
    text-decoration: none; 
    display: flex; 
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border-radius: 6px;
    background-color: transparent; 
    color: inherit; 
    transition: all 0.2s ease-in-out; 
}

.header .icon-user,
.header .icon-cart {
    width: 16px;
    height: 16px;
}

.header .user-links a:hover {
    background-color: #e0f7ff; 
    color: #0288d1; 
}


.header .cart a:hover {
    background-color: #e0f7ff; 
    color: #0288d1; 
}

.header .user-links + .cart::before {
    content: "\007C"; 
    margin: 0 15px;   
    color: #999;      
}

.header .user-links,
.header .cart {
    position: relative; 
}


.header .cart::before {
    content: "";
    position: absolute;
    left: -15px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 1px;
    height: 24px; 
    background-color: #999; 
}

